@font-face {
    font-family: Minecraft;
    src: url(Minecraft.ttf);
}

body {
    margin: 0px;
    font-family: 'Minecraft';
    padding-top: 120px;
}

#title {
    text-align: center;
    padding-top: 10px;
}

p {
    padding-top: 25px;
    text-align: center;
    position: relative;
    font-size: 30px;
    width: 70%;
    margin: auto;
}

#menu {
    position: fixed;
    top: 0;
    z-index: 10;
    height: 100px;
    width: 100%;
    background-color: #00861F;
    padding-top: 10px;
}

#menu ul {
    float: left;
    padding-top: 2px;
    left: 50%;
    position: relative;
    margin-left: -60px;
}

#menu ul li {
    list-style-type: none;
    left: -50%;
    margin-left: 20px;
    float: left;
    position: relative;
}

#menu ul li a {
    font-size: 25px;
    color: yellow;
    padding-top: 15px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: relative;
    height: 40px;
    width: 200px;
    background-color: #01B22A;
}

#menu ul li a:hover {
    color: black;
    background-color: #05D235;
}

#main {
    padding-bottom: 4em;
}

html {
    background-color: lightblue;
}