body {
    margin: 0px;
    font-family: 'Verdana';
    padding-top: 50px;
}

#title {
    text-align: center;
    padding-top: 80px;
}

p {
    padding-top: 25px;
    text-align: center;
    position: relative;
    font-size: 30px;
    width: 70%;
    margin: auto;
}

#menu {
    position: fixed;
    top: 0;
    z-index: 10;
    height: 100px;
    width: 100%;
    background-color: rgb(30, 30, 30);
    padding-top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 20px 5px 20px 2px;
}

#menu ul {
    position: relative;
    margin: 0px;
    padding: 0px;
    top: 0px;
}

#menu ul li {
    list-style-type: none;
    float: left;
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
}

#menu ul li a {
    font-size: 25px;
    color: white;
    padding-top: 15px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: relative;
    height: 100px;
    width: 200px;
}

#menu ul li a.gauche {
    border-bottom-left-radius: 20px;
}

#menu ul li a:hover {
    background-color: black;
}

#main {
    background-color: rgb(20, 20, 20);
    padding-bottom: 4em;
    font-size: 5px;
    color: white;
}

html {
    background-color: rgb(20, 20, 20);
}
